<div class="section" id="welcome-hero">
    <div class="box">
        <h1 class="title">Tindernship</h1>
        <hr/>
        <p>Welcome to Tindernship.  There will be some sort of motivational message here in the future, but for now I'm just filling up this space so that we can see what it looks like.</p>
        <hr/>
        <div class="level">
            <div class="level-item">
                <button class="button is-link"><a href="/login/student">Student Login</a></button>
            </div>
        </div>
        <div class="level">
            <div class="level-item">
                <button class="button is-link"><a href="/login/employer">Employer Login</a></button>
            </div>
        </div>
    </div>
</div>