@import "bulma";
@import "./bulmaswatch.min.scss";

html, body {
    height: 100vh;
    overflow: auto;
}

body {
    background-color: #C0E4F1;
}

#welcome-hero, #student-login, #admin-login, #employer-login {
    top: 15%;
    min-height: 500px;
    >.box {
        width: 50%;
        background-color: #f1edee;
        left: 25%;
        height: 100%;
        position: relative;
        >h1 {
            text-align: center;
        }
        &#student-profile {
            width: 500px;
            left: calc(50% - 250px);
        }
    }
    .notification {
        display: none;
        p {
            text-align: center;
        }
    }
}

#student-login, #employer-login {
    #two-buttons {
        width: 100%;
        button {
            width: 45%;
            &:last-child {
                float: right;
            }
        }
    }
    #register {
        width: 45%;
        left: 27.5%;
        position: relative;
    }
}

#csrf {
    display: none;
}

#admin-login {
    #login {
        width: 100%;
    }
}

.button {
    a {
        color: inherit;
        text-decoration: none;

    }
}

@import "datatables";


#cards {
    overflow: auto;
    margin-top: 10px;
    .level {
        align-items: stretch;
        justify-content: space-evenly;
    }
    .level-item{
        width: 300px;
        flex-grow: 0 !important;
        .card {
            height:100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            a {
                width: 100%;
            }
            .card-content {
                flex-grow: 1;
            }
            .card-footer {
                flex-shrink: 0;
            }
            .content>div {
                &:first-child {
                    p:first-child {
                        text-align: center;
                    }
                    p:not(:first-child) {
                        text-align: right;
                    }
                }
            }
        }
    }
}

.navbar {
    select, input {
        color:black;
    }
    #location {
        width: 200px;
    }
    #date {
        width: 150px;
    }
    .navbar-brand {
        width:100%;
    }
    #logout-container {
        margin-left:auto;
    }
}

